{% extends 'partials/base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
{% include 'partials/topside.html' %}
<br>
{% if user.username == 'tpogst' %}
<div class="row">
    <div class="col-lg-8">
      <canvas id="myChartline"></canvas>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <a href="{% url 'dashboard-bulletin' %}"><button type="button" class="btn btn-outline-info">Bulletin Board</button></a>
      </div>
      <div class="col-lg-4">
        <a href="{% url 'dashboard-marksheet' %}"><button type="button" class="btn btn-outline-info">Upload Marksheet</button></a>
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  
<script>
  var endpoint = '/api';

  $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data) {
      drawLineGraph(data, 'myChartline');
      // drawBarGraph(data, 'myChartBar');
      console.log("drawing");
    },
    error: function(error_data) {
      console.log(error_data);
    }
  })


  function drawLineGraph(data, id) {
    var labels = data.labels;
    var chartLabel = data.chartLabel;
    var chartdata = data.chartdata;
    var ctx = document.getElementById(id).getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: labels,
        datasets: [{
          label: chartLabel,
          backgroundColor: 'rgb(255, 100, 200)',
          borderColor: 'rgb(55, 99, 132)',
          data: chartdata,
        }]
      },

      // Configuration options go here
      options: {
        scales: {
          xAxes: [{
            display: true
          }],
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }

    });
  }
</script>
{% endif %}

{% if user.username != 'tpogst' %}
<div class="col-md-8 mx-auto">
  <table class="table bg-white">
      <thead class="bg-info text-white">
          <tr>
              <th scope="col">Bulletin Board</th>
          </tr>
      </thead>
      <tbody>
          {% for post in page_obj.object_list %}
        
              <tr>
                  <td>{{ post.notice }}</td>
              </tr>

          {% endfor %}
      </tbody>
  </table>
  {%if page_obj.has_previous %} {# whether the previous page exists #}
      <a href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
  {% endif %}
  <span>{{page_obj.number}}</span> {# the current page number #}
  
  {%if page_obj.has_next %} {# whether the next page exists #}
      <a href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
  {% endif %}
</div>
{% endif %}

{% else %}
{% include 'dashboard/customer_index.html' %}
{% endif%}

{% endblock %}