{% extends 'partials/base.html' %}
{% block title %}Search{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topside.html' %}

<div class="col-md-8 mx-auto mt-4">
    <form action="sendMail/" method="POST">{% csrf_token %}
    <input type="hidden" name="checkall" id="checkall">
    <input type="checkbox" onClick="toggle(this)"/><span class="badge badge-light"> Select All </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button onclick="sendMail()" class="btn btn-outline-info">Send Mail</button>
    <table class="table bg-white">
        <thead class="bg-info text-white">
            <tr>
                <th scope="col">PRN</th>
                <th scope="col">Name</th>
                <th scope="col">Offer1</th>
                <th scope="col">Offer2</th>
                <th scope="col">Offer3</th>
                <th scope="col">Batch</th>
            </tr>
        </thead>
        <tbody>
            {% for student in object_list %}
          
                <tr>
                    <td><input type="checkbox" name="check" id="checkvalue" value='{{student.email_id1}}' aria-label="Checkbox for following text input"></td>
                    <td>{{ student.prn }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.offer1 }}</td>
                    <td>{{ student.offer2 }}</td>
                    <td>{{ student.offer3 }}</td>
                    <td>{{ student.batch }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    </form>
    {%if page_obj.has_previous %} {# whether the previous page exists #}
        <a href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
    {% endif %}
    <span>{{page_obj.number}}</span> {# the current page number #}
    
    {%if page_obj.has_next %} {# whether the next page exists #}
        <a href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
    {% endif %}
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    function showModal(){
        var modal = document.getElementById('modal');
        modal.style.display = 'block';
    }

    function toggle(source) {
        checkboxes = document.getElementsByName('check');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }   
    }

    function sendMail(){
        var array = []
        var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

        for (var i = 0; i < checkboxes.length; i++) {
            array.push(checkboxes[i].value)
        }

        console.log(array)
        document.getElementById('checkall').value = array
    }
</script>

<!-- JQuery CDN Link for Searchable Dropdown -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js" integrity="sha512-5+FrEmSijjxRArJWeLcCIEgoQYAgU0gSa9MgNMN+tVSS+MPZsEk9a7OkPZr7AzjNJng1Kl+tXOQVtJcsU+Ax0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


{% endblock %}